// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  @include container;
  padding-top: 25px;
  padding-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $menu-desktop-width) {
    padding-left: 60px !important;
    padding-right: 60px !important;
    width: 100% !important;
  }

  // @media (max-width: ($menu-desktop-width - 1)) {
  //   padding-left: 120px;
  //   padding-right: 120px;
  // }
}
