// В этом файле должны быть стили для БЭМ-блока header-phone, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-phone {

  $block-name:                &; // #{$block-name}__element

  background: #007dc6;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 25px;
  white-space: nowrap;

  @media (max-width: ($menu-desktop-width - 1)) {
    margin-right: auto;
    margin-left: 30px;
  }

  @media (max-width: 445px) {
    display: none;
  }

}
