// В этом файле должны быть стили для БЭМ-блока box-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.box-slider {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-lg) {

    height: 100%;

    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
    }
  }

  .owl-prev,
  .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      stroke: #fff;
    }
  }

  .owl-prev {
    left: 3px;
  }

  .owl-next {
    right: 3px;
  }

  .owl-dots {

    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot {

      margin: 4px;
      opacity: 0.6;

      &.active {
        opacity: 1;
      }

      span {
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        display: block;
      }
    }
  }

}
