// В этом файле должны быть стили для БЭМ-блока main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main {

  $block-name:                &; // #{$block-name}__element

  height: 100%;
  box-sizing: border-box;

  body {
    height: 100%;
  }

  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }

}

// /* --------------------------------
//
// Modules - reusable parts of our design
//
// -------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// /* --------------------------------
//
// Main components
//
// -------------------------------- */
.cd-section {
  min-height: 100%;
  position: relative;
  // color: #fff;

  background-image: url('../img/page-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: #fff;
    font-family: 'Bebas Neue';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 56px;
    line-height: 0.7em;
  }

}
// .cd-section:nth-of-type(odd) {
//   background-color: #3e3947;
// }
// .cd-section:nth-of-type(odd) p {
//   color: #898099;
// }
// .cd-section:nth-of-type(even) {
//   background-color: #745360;
// }
// .cd-section:nth-of-type(even) p {
//   color: #bda3ad;
// }
// .cd-section h1, .cd-section p {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   bottom: auto;
//   right: auto;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -ms-transform: translateX(-50%) translateY(-50%);
//   -o-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   width: 90%;
//   max-width: 768px;
//   text-align: center;
// }
// .cd-section h1 {
//   color: white;
//   font-weight: 300;
//   text-transform: uppercase;
//   font-size: 20px;
//   font-size: 1.25rem;
// }
// .cd-section p {
//   line-height: 1.6;
// }


.cd-scroll-down {

  &--intro {
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
  }
}

// /* No Touch devices */
.cd-nav-trigger {
  display: none;
}

#cd-vertical-nav {
  position: fixed;
  right: 110px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 98;

  ul {
    list-style: none;
  }

  @media (max-width: 1300px) {
    right: 5px;
  }

  @media (max-width: ($screen-xl - 1)) {
    display: none;
  }
}

#cd-vertical-nav li {
  text-align: right;
  margin-bottom: 10px;
}
#cd-vertical-nav a {
  display: inline-block;
  backface-visibility: hidden;
}
#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
#cd-vertical-nav a span {
  float: right;
  display: inline-block;
  transform: scale(0.6);
}
// #cd-vertical-nav a:hover span,
#cd-vertical-nav a.is-selected span {
  transform: scale(1);
}
#cd-vertical-nav a:hover .cd-label,
#cd-vertical-nav a.is-selected .cd-label {
  opacity: 1;
}
#cd-vertical-nav a.is-selected .cd-dot {
  background-color: #d31023;
  background-image: url('../img/vertical-nav-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
#cd-vertical-nav .cd-dot {
  position: relative;
  // /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  transition: transform 0.2s, background-color 0.5s;
  transform-origin: 50% 50%;
}
.cd-label {
  position: relative;
  margin-right: 10px;
  padding: .65em .5em;
  color: white;
  text-transform: uppercase;
  background: rgba(27, 38, 45, 0.8);
  font-size: 16px;
  font-weight: 700;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform-origin: 100% 50%;
}

.cd-num {
  color: #fff;
  position: absolute;
  font-size: 18px;
  top: 30%;
  left: 15px
}
