// В этом файле должны быть стили для БЭМ-блока contacts-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-list {

  $block-name:                &; // #{$block-name}__element
  list-style: none;
  padding-left: 0;
  color: #1f1e1e;
  font-family: 'Open Sans';
  margin-bottom: 20px;

  li + li {
    margin-top: 6px;
  }

  b {
    color: #1f1e1e;
    font-weight: 600;
  }

}
