// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;

  &__inner {
    background: #fff;
  }

  &__image {
    overflow: hidden;
    position: relative;

    a {
      display: block;

      &:hover,
      &:focus {

        img {
          transform: scale(1.1);
        }
      }
    }

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
  }

  &__body {
    background: #fff;
    overflow: hidden;
    padding: 15px;
  }

  &__header {
    padding: 15px;
    background: #fff;
  }

  &__date {
    font-size: 15px;
    color: #848484;font-weight: 400;
    margin-bottom: 7px;
    display: inline-block;
  }

  &__title {
    margin: 0;
    font-size: 18px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: #d31023;
      }
    }
  }

  &__hr {
    border-bottom: 1px solid #e7e7e7;
    height: 1px;
    margin: 0 20px;
  }

  &__price {
    @include row;
    font-size: 15px;
  }

  &__price-item {
    @include col();
    @include col(md, 6);
  }

  &__price-icon {
    fill: #d31023;
    margin-right: 10px;
  }

  &__details {
    font-size: 15px;
    margin: 15px 0;
  }

  &__details-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__details-icon {
    fill: #d31023;
    margin-right: 10px;
  }

  &__link {
    display: inline-block;
    padding: 3px 0;
    margin-bottom: 5px;
    font-size: 15px;
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__counter-icon {
    fill: #d31023;
    margin-right: 8px;
  }

  &__counter-text {
    font-size: 15px;
  }

}
