// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;

  &__inner {}

  &__image {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    background: #fff;
    overflow: hidden;
    padding: 0 20px 20px 20px;
  }

  &__title {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
  }

  &__price {
    @include row;
    padding-bottom: 10px;
    font-size: 15px;
  }

  &__price-item {
    @include col();
    @include col(md, 6);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__price-icon {
    fill: #d31023;
    margin-right: 10px;
  }

  &__details {
    font-size: 15px;
    margin: 15px 0;
  }

  &__details-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__details-icon {
    fill: #d31023;
    margin-right: 10px;
  }

  &__link {
    display: inline-block;
    padding: 3px 0;
    margin-bottom: 5px;
    font-size: 15px;
  }

}
