// В этом файле должны быть стили для БЭМ-блока content-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content-box {

  $block-name:                &; // #{$block-name}__element

  font-family: 'Open Sans';

  &__two-row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 6);
  }

  p {
    line-height: 1.6
  }

}
