// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name:                &; // #{$block-name}__element


  &__title {
    background: #d31023;
    color: #fff;
    font-size: 15px;
    display: inline-block;
  }

  &__part {
    margin-bottom: 20px;
  }

  &__part-title {
    color: #fff;
    background: #d31023;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  &__part-body {
    @include row;
  }

  .card {
    @include col();
    @include col(md, 6);
    @include col(lg, 6);
    @include col(xl, 4);
  }

}
