// В этом файле должны быть стили для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro {

  $block-name:                &; // #{$block-name}__element

  background-image: url('../img/intro-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 3em 120px;
  min-height: 100vh;

  @media (max-width: ($screen-xl - 1)) {
    display: block;
    min-height: auto;
    padding: 200px 30px 100px 30px;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__caption {

    max-width: 670px;
    min-height: 100%;
    flex-grow: 1;
    color: #fff;

    @media (max-width: ($screen-xl - 1)) {
      margin-bottom: 30px;
    }

    h1 {

      margin: 0;
      line-height: 1;

      span {
        font-size: 24px;
        font-weight: 400;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.7em;
      margin-bottom: 30px;
    }
  }

  .page-footer {
    flex-shrink: 0;
  }

}
