// В этом файле должны быть стили для БЭМ-блока f-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.f-contacts {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding: 0;
  margin-top: 0.6875em;
  margin-bottom: 0.6875em;

  @media (max-width: $screen-sm) {
    li {
      display: block;
    }
    li+li {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    position: relative;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  li+li {
    margin-left: 60px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: #fff;
  }

}
