// В этом файле должны быть стили для БЭМ-блока to-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.to-top {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  left: 3rem;
  bottom: 1.5rem;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  text-align: center;

  svg {
    transform: rotate(90deg);
    fill: #fff;
    margin-bottom: 15px;
  }

  .js & {
    display: none;
  }

  @media (max-width: ($screen-xl - 1)) {
    left: 7px;
    font-size: 10px;
    bottom: 30px;

    svg {
      width: 24px;
      height: 24px;
      margin-bottom: 0;
    }

    &__text {
      display: none;
    }
  }
}
